[submodule "themes/duckquill"]
	path = themes/duckquill
	url = https://codeberg.org/daudix/duckquill.git
[submodule "themes/linkita"]
	path = themes/linkita
	url = https://codeberg.org/salif/linkita.git
